@media screen {
  
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', Helvetica, Arial, sans-serif;
  background-color: #E8EAED;
}

canvas {
  display: block;
}

.header{
  width: 800px;
  height: 50px;
  box-sizing: border-box;
  background-color: #2dce89;
  font-size: 25px;
  font-weight: bold;
  color: white;
  line-height: 1.5;
  margin-bottom:0;
  width: auto;
  height: auto;
}

main {
  overflow:scroll;
}

.classifier{
    position:relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: auto;
    background-color: white;
    /* text-align: left;  */
    padding: 15px;
    width: 500px;
    border-radius:10px;
}

hr {
  width: 500px;
  border-style:solid;
  border-color: #868a8f;
  position: relative;
  top: -1em;
  font-size:0.1;
  }

.add-class{
  font-family: 'Google Sans', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 18px;
  color: #5F6368;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  border-style:dashed;
  border-width:2px;
  width: 530px;
  margin-left: 100px;
  margin-top: 50px;
  text-align:center;
 
}
.add-class:hover{
  color: #2dce89;;
  border-color:#2dce89;
}

.close-button{
  position:absolute;
  right:0;
  top: 0px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

/* scroll-snap-align:start; */

.center-column{
  position:absolute;
  right: -300px;
}

.training-container{
  display: flex;
  flex-direction: column;
  margin-top: -250px;
  margin-left: 100px;
  margin-right: auto;
  background-color: white;
  padding: 15px;
  width: 500px;
  border-radius:10px;

}

.right-column{
  position: absolute;
  right: -900px;
}

.preview-container{
  display: flex;
  flex-direction: column;
  margin-top: -250px;
  margin-left: 100px;
  margin-right: auto;
  background-color: white;
  padding: 15px;
  width: 500px;
  border-radius:10px;

}